// Form fatto da Angelo
.input-group {
    position: relative;
    color: #BF9169;
}

.input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #BF9169;
    background-color: transparent;
    outline: 2px solid #BF9169;

    &:focus+.input-label,
    &:valid+.input-label {
        transform: translate(10px, -14px) scale(.8);
        color: #6374A6;
        padding-inline: 5px;
        background-color: #000;
    }

    &:is(:focus, :valid) {
        outline-color: #6374A6;
    }
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
}

// div.my-btn {
//     color: $white;
//     background-color: $chestnut-rose;
//     border: 1px solid $chestnut-rose;
//     transition: 1s;

//     &:hover {
//         color: $white;
//         background-color: $chestnut-rose;
//         border: 1px solid $chestnut-rose;
//         cursor: pointer;
//     }
// }
// Fine Form
